.header {
  text-align: center;
  color: black;
  padding: 30px;
  border-bottom: solid 1px #666;
  img.logo {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
}
